@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}
@if (TempData["update"] != null)
{
    <h2>@TempData["update"]</h2>
}
@if (TempData["delete"] != null)
{
    <h2>@TempData["delete"]</h2>
}

